html, body {
  margin: 0;
  padding: 0;
}

body {
  background-color: #335918;
  height: 100vh;
}

h1 {
  font-family: "cabin", sans-serif;
  color: #fff;
  text-shadow: 2px 2px 3px #000,2px 2px 3px #000;
  font-size: 3em; 
}
h2 {
  font-family: "cabin", sans-serif;
  color: #fff;
  text-shadow: 2px 2px 3px #000,2px 2px 3px #000;
  font-size: 2em; 
  display: block;
}

h3 {
  text-align: center;
  font-family: "cabin", sans-serif;
  color: #fff;
  text-shadow: 2px 2px 3px #000,2px 2px 3px #000;
  font-size: 2em; 
  display: block;
}

p {
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  color: #fff;
  text-shadow: 2px 2px 3px #000,2px 2px 3px #000;
  font-size: 1em; 
  display: block;
}
#rondas {
  text-align: center;
}
#jugadas {
  margin: auto;
  width: 70% ;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  color: #fff;
  text-shadow: 2px 2px 3px #000,2px 2px 3px #000;
  font-size: 1em; 
  display: block;
}
li {
  text-align: center;
}
#titulo , #ingreso {
  display: flex;
  justify-content: center;
}

#inicio {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.bienvenida {
  text-align: center;
}

.mesa {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.mano {
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.marcoCarta {
  width: 95px;
  height: 150px;
  margin: 20px;
  background-color: #fff;
  border: #000;
  box-shadow: 10px 5px 5px black;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.fondoCarta {
  width: 80px;
  height: 130px;
  background-color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
}

.fondoNumero {
  width: 80px;
  height: 120px;
  border-radius: 50px;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.numeroCarta {
  
  color: #1339D4;
  text-shadow: 2px 2px 3px #000,2px 2px 3px #000, 2px 2px 3px #000;
  font-family: "cabin", sans-serif;
  font-size: 75px;
  letter-spacing: -5px;
  
}

.seccionInteraccion {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.swal2-popup {
  background-color: #335918;
}








